.beer-chart {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: var(--merri);
  --height: 0;
  --width: 55px;

  @media screen and (max-width: 620px) {
    --width: 40px;
  }

  .beer-chart-content {
    padding-top: calc(var(--width) + 10px);
    display: inline-grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: end;
    height: 300px;
    gap: 20px;
    overflow: hidden;

    .column {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: var(--width);
      height: var(--height);
      //transition: all 0.5s cubic-bezier(0.36, 0, 0.66, -0.56);
      transition: all 0.5s;
      position: relative;

      .column__image {
        position: absolute;
        top: calc(var(--width) * -1 - 10px);
        width: var(--width);
        height: var(--width);
        object-fit: cover;
        border-radius: 50%;
      }

      .column__bar {
        background: var(--orange);
        width: 100%;
        flex-grow: 1;
        color: var(--darkblue);
        font-weight: 900;
        font-size: 17px;
        text-align: center;
        padding-bottom: calc(var(--width) / 5);
        overflow: hidden;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }

    @media screen and (max-width: 620px) {
      gap: 10px;

      .column__bar {
        font-size: 14px;
      }
    }
  }

  .annotations {
    grid-column: 1 / -1;
    display: inline-grid;
    grid-auto-flow: column;
    align-items: end;
    gap: 20px;
    max-width: 340px;
    align-items: start;
    margin-top: 10px;

    .annotations__name {
      font-size: 10px;
      width: var(--width);
      color: var(--darkblue);
      vertical-align: top;
      font-weight: 900;
    }

    @media screen and (max-width: 1520px) {
      display: none;
    }
  }

  .spinner {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 4px;
  }
}

.queue-chart {
  max-width: 500px;
  pointer-events: none;
}
