@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button-blue: #e5e5e5;
  --orange: #eeb448;
  --blue: #475073;
  --darkblue: #292d3c;
  --light-blue: #b1beca;
  --light-gray: #f2f1f1;
  --gray: #a9a9a9;
  --green: #77ad43;
  --merri: "Merriweather", serif;
  --roboto: "Roboto", sans-serif;
  --lightshadow: rgba(0, 0, 0, 0.1) 0px 5px 38px;
  --sidebarWidth: 270px;

  @media screen and (max-width: 1600px) {
    --sidebarWidth: 230px;
  }

  @media screen and (max-width: 1440px) {
    --sidebarWidth: 60px;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--roboto);
  background: white;
}

.dashboard-wrapper:not(.dashboard-wrapper--raw) {
  .ant-table-tbody > tr > td {
    border-bottom: none;
  }

  .ant-table-wrapper,
  .ant-table {
    background: transparent;
  }

  .ant-tag-gold {
    padding: 3px 9px;
    border-radius: 8px;
    border: none;
    background: var(--blue);
    color: white;
  }

  .ant-table-thead {
    .ant-table-cell {
      font-size: 16px;
      color: var(--blue);
    }
  }

  .ant-table-cell {
    &:first-of-type {
      padding-left: 0em;
    }
  }

  .ant-table-small .ant-table-thead > tr > th {
    background-color: transparent;
  }
}
