.taps-overview-wrapper {
  display: flex;
}

.taps-overview {
  display: grid;
  font-size: 9px;
  grid-template-columns: repeat(4, 13em);
  gap: 2em;
  margin-right: 2em;
  align-content: start;

  .barrel {
    position: relative;
    padding-right: 3em;
    font-size: inherit;
    display: flex;
    flex-direction: column;

    &__volume {
      font-size: inherit;
      position: absolute;
      transform: rotate(-90deg);
      transform-origin: right top;
      font-weight: 500;
      font-size: 1.5em;
      top: 0.5em;
      right: 2em;
    }

    &__image {
      --volume: 100%;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background: url(../images/black-barrel.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        opacity: 0.6;
        left: 0;
        top: 0;
        width: 100%;
        height: calc(100% - var(--volume));
        transition: all 0.3s;
      }
      img {
        max-width: 100%;
      }
    }

    &__title {
      font-size: 1.35em;
      line-height: 1.3em;
      text-align: center;
      font-weight: 900;
      font-family: var(--merri);
      color: var(--blue);
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 1609px) {
    font-size: 8px;
  }

  @media screen and (max-width: 1150px) {
    grid-template-columns: repeat(2, 13em);
  }
}

.storage-overview {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2em;
  font-size: 10px;

  .storage-item {
    margin-bottom: 1em;
    &__name {
      font-size: 1.4em;
      font-weight: 900;
      font-family: var(--merri);
      color: var(--blue);
      padding-bottom: 2px;
      display: block;
    }

    .barrel-image {
      max-width: 1.5em;
      margin-right: 0.5em;
    }
    .barrel-number {
      padding: 1em 0;
      font-size: 1.6em;
      font-family: var(--merri);
      color: var(--gray);
      font-weight: 900;
    }
  }

  @media screen and (max-width: 1693px) {
    font-size: 9px;
  }

  @media screen and (max-width: 1609px) {
    font-size: 8px;
  }

  @media screen and (max-width: 1150px) {
    justify-content: start;
    align-content: start;
  }
}
