.dashboard-wrapper--bartenders {
  display: flex;
  flex-direction: column;
  align-items: center;
  .bartenders {
    display: flex;
    justify-content: center;

    .bartender {
      padding: 20px;
      margin-bottom: 20px;
      margin-right: 40px;
      z-index: 5;

      &:last-of-type {
        margin-right: 0px;
      }

      &__title {
        margin-left: 5px;
        margin-bottom: 10px;
        font-size: 20px;
        font-family: var(--merri);
        font-weight: 900;
        color: var(--blue);
      }
      &__card {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        background: white;
        box-shadow: var(--lightshadow);
        width: 300px;
        overflow: hidden;
        margin-bottom: 50px;
        padding: 30px;
        padding-top: 20px;

        .order-number {
          align-self: flex-start;
          font-size: 18px;

          img {
            width: 20px;
            margin-right: 5px;
            opacity: 0.8;
          }
        }

        .order {
          display: flex;
          flex-wrap: wrap;
        }

        .taps {
          display: grid;
          gap: 10px;
          height: 45px;
          grid-auto-flow: column;
          margin-bottom: 20px;
          .tap-image {
            overflow: hidden;

            img {
              width: 45px;
              height: 45px;
              border-radius: 50%;
              border: 3px solid transparent;
              object-fit: cover;
              display: block;
            }

            &.active {
              //box-shadow: 0 0 20px 0px var(--orange);
              border-radius: 50%;
              transition: all 0.3s;
              transform: scale(1.1);
              img {
                border: 3px solid var(--blue);
                transition: all 0.3s;
                display: block;
              }
            }
          }
        }
      }
    }

    &--raw {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 30px;
    }
  }

  .bartenders-queue {
    display: flex;
    &__order {
      padding: 30px;
      background: white;
      margin-right: 20px;
      border-radius: 10px;
      transition: all 0.5s ease-in-out;
      z-index: 1;
    }
  }
}

.pop {
  animation: pop 0.3s ease-out;
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
