.dashboard-wrapper {
  padding: 40px;
  padding-top: 20px;
}

.widgets {
  display: grid;
  grid-auto-flow: column;
  margin-bottom: 20px;
  align-items: start;
  gap: 20px;
}

.main-widgets {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: start;
  justify-content: start;
  gap: 20px;

  .chart {
    background: white;
    padding: 30px 40px;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: var(--lightshadow);

    &__label {
      font-size: 20px;
      font-family: var(--merri);
      font-weight: 700;
      padding-bottom: 10px;
    }
  }
}

.new-orders {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: flex-end;

  .order {
    animation: fly 1s linear;
    padding: 20px;
    border-radius: 20px;
    background: red;
  }
}

@keyframes fly {
  to {
    transform: translateY(-200px);
    opacity: 0;
  }
}
