.dashboard-wrapper {
  padding: 40px;
  padding-top: 20px;
  --colGap: 40px;
  --rowGap: 20px;

  .widgets {
    display: grid;
    grid-auto-flow: column;
    margin-bottom: var(--rowGap);
    align-items: stretch;
    gap: 10px;
  }

  .main-widgets {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: var(--rowGap);
    column-gap: var(--colGap);
    align-items: start;
    grid-template-areas:
      "tapsChart tapsChart sidebar"
      "completedOrders completedOrders sidebar";

    @media screen and (max-width: 1094px) {
      grid-template-areas:
        "tapsChart tapsChart"
        "sidebar sidebar"
        "completedOrders completedOrders";

      .dashboard-sidebar {
        grid-template-columns: 1fr 1fr;
      }
    }

    .dashboard-sidebar {
      grid-area: sidebar;
      display: grid;
      gap: var(--rowGap);
    }

    .chart {
      background: #f6f6f6;
      padding: 30px 40px;
      padding-top: 20px;
      border-radius: 20px;
      box-shadow: var(--lightshadow);

      &__label {
        font-size: 20px;
        font-family: var(--merri);
        font-weight: 700;
        padding-bottom: 10px;
        color: var(--blue);
      }

      @media screen and (max-width: 1660px) {
        padding: 20px;
      }
    }
    .completed-orders-chart {
      grid-area: completedOrders;
      padding-bottom: 10px !important;
      width: 100%;
    }
    .queue-chart {
    }
    .beer-chart {
    }
    .queue-chart,
    .beer-chart {
      background: transparent;
      box-shadow: none;
      padding: 0;

      .chart__label {
        padding-bottom: 20px;
      }
    }
    .taps-chart {
      grid-area: tapsChart;
      display: grid;
      grid-template-columns: 1fr auto;
    }
  }
}

@keyframes fly {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-400px);
  }
}
