.statistic {
  font-family: var(--merri);
  font-size: 8px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  box-shadow: var(--lightshadow);
  background: #f6f6f6;
  border-radius: 2em;
  padding: 2em 3em;
  padding-left: 3em;
  color: var(--blue);

  &__icon {
    grid-row: span 2;
    display: flex;
    padding-right: 1.6em;
    font-size: inherit;
    img,
    svg {
      width: 5em;
      height: 5em;
      display: block;
    }
  }

  &__value {
    font-weight: 900;
    font-size: 3em;

    &--text {
      font-size: 2.2em;
    }
  }

  &__title {
    font-size: 1.7em;
    font-family: var(--roboto);
    color: var(--gray);
  }

  &__suffix {
    padding-left: 0.2em;
    font-size: 1.8em;
  }
}

.label-image {
  border-radius: 50%;
  object-fit: cover;
}
