.steps {
  .step {
    &--tap {
      --iterations: 1;
      --height: 0;
      background: transparent;
      position: relative;

      &.yes {
        background: transparent;
        &::before {
          content: " ";
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 0.5s;
          height: var(--height);
          width: 100%;
          background: rgb(255, 212, 70);
          animation: fillUp 10s linear;
          animation-fill-mode: forwards;
          animation-iteration-count: var(--iterations);
          z-index: -1;
          will-change: height;
        }
      }

      .time {
        color: royalblue;
        font-weight: bold;
        padding-left: 10px;
      }
    }
  }
}

.tap-svg {
  width: 100%;
  max-width: 100px;
}

.beer {
  transition: all 0.5s ease-in-out;

  #liquid {
    transform-origin: 50% 100%;
  }
}

.svg-wrapper {
  margin: auto;
  position: absolute;
  transition: all 600ms;
}

.transition-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 330px;
  overflow: hidden;
}

.tap-animation-enter {
  opacity: 0.01;
  transform: translateX(-200px);
  overflow: hidden;
}

.tap-animation-enter-active {
  opacity: 1;
  transform: scale(1);

  overflow: hidden;
}

.tap-animation-exit {
  opacity: 1;
  transform: scale(1);
  overflow: hidden;
}

.tap-animation-exit-active {
  opacity: 0.01;
  transform: scale(0.9);
  transition: all 300ms;
  overflow: hidden;
}
