.list-page {
  //////// HEADER //////////
  h1 {
    max-width: 700px;
    font-size: calc(1rem + 1vw);
    line-height: 1.5;
  }
  .wrapper {
    max-width: 1000px;
    margin: auto;
  }
  .elem-up {
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    img {
      width: 300px;
    }
  }
  header {
    padding-top: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap-reverse;
    @media screen and (max-width: 865px) {
      align-items: center;
      text-align: center;
    }
    @media screen and (max-width: 839px) {
      text-align: center;
      max-width: 400px;
    }
    h1 {
      font-size: calc(1rem + 1vw);
      padding-right: 100px;
      @media screen and (max-width: 950px) {
        padding-right: 0;
        padding: 0px 70px 0 70px;
      }
      @media screen and (max-width: 514px) {
        text-align: center;
        padding-right: 0;
        padding: 20px 70px 0px 70px;
      }
    }
    .logo {
      @media screen and (max-width: 950px) {
        padding-right: 30px;
      }
      @media screen and (max-width: 865px) {
        padding-bottom: 20px;
      }
    }
  }

  ///////////// CONTENT //////////////
  .content {
    margin: auto;
    padding: 0 50px;
    @media screen and (max-width: 950px) {
      padding: 50px;
    }
    .filters {
      margin: auto;
      margin-bottom: 40px;
      span {
        color: var(--blue);
        font-size: calc(1rem + 0.1vw);
      }
      button {
        background: transparent;
        border: none;
        cursor: pointer;
        padding-right: 6px;
        &.active {
          color: var(--orange);
          font-weight: 700;
        }
      }
    }
    .card-container {
      max-width: 1250px;
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
      gap: 20px;
      .card {
        max-width: 290px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        background: var(--light-gray);
        cursor: pointer;
        position: relative;
        .sold-out {
          z-index: 5;
          pointer-events: none;
          display: flex;
          align-items: center;
          justify-content: center;
          left: 0;
          top: 0;
          position: absolute;
          width: 100%;
          cursor: default;
          height: 100%;
          background-color: rgba(30, 30, 30, 0.5);

          p {
            line-height: 1.1em;
            color: white;
            font-size: 30px;
            text-align: center;
            font-weight: 900;
          }
        }
        .keg {
          padding-bottom: 20px;
        }
        h3 {
          color: var(--blue);
          font-weight: 900;
          max-width: 100px;
          flex-grow: 1;
        }
        .beer-type {
          color: var(--light-blue);
          font-weight: 400;
          font-family: "Roboto", sans-serif;
        }
        .volume-price {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .volume {
            display: flex;
            align-items: flex-end;
            .beer-icon {
              width: 30px;
            }
            .volume-txt {
              font-weight: 300;
              font-family: "Roboto", sans-serif;
              color: var(--blue);
              padding-left: 5px;
              font-size: 1.2rem;
            }
          }
          .price {
            color: var(--orange);
            font-weight: 900;
            font-size: calc(1rem + 0.8vw);
          }
        }
        .add-button {
          display: inline-block;
          margin-top: 20px;
          background-color: var(--orange);
          border: none;
          padding: 10px 30px;
          font-weight: 700;
          white-space: nowrap;
          text-align: center;
          &:hover {
            transition: 0.3s;
            background: var(--blue);
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
  .elem-down {
    opacity: 0.4;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    img {
      width: 300px;
    }
  }
  ////////// FOOTER ////////////
  footer {
    padding: 50px;
    display: grid;
    place-items: center;
  }
}
