.home-content {
  padding-left: 240px;
}

.sidebar {
  height: 100vh;
  width: 240px;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  box-shadow: var(--lightshadow);

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;

    img {
      width: 140px;
    }
  }

  &__navigation {
    padding-left: 20px;
    .navigation-item {
      display: flex;
      align-items: center;
      padding: 10px 30px;
      font-size: 19px;
      cursor: pointer;

      &--grey {
        opacity: 0.5;
      }

      img {
        margin-right: 15px;
        width: 25px;
      }

      &:hover {
        background: ghostwhite;
      }
    }
  }
}

.main-wrapper {
  transform-origin: center center;
}

.dialog-enter {
  opacity: 0.01;
  transform: scale(0.9);
  overflow: hidden;
}

.dialog-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
  overflow: hidden;
}

.dialog-exit {
  opacity: 1;
  transform: scale(1);
  overflow: hidden;
}

.dialog-exit-active {
  opacity: 0.01;
  transform: scale(0.9);
  transition: all 300ms;
  overflow: hidden;
}
